body{
    margin: 5px;
    font-family:'Times New Roman', Times, serif ;
    font-size: medium;
    background-color: grey;
    scroll-behavior: smooth;
}


header{
    font-family:'Times New Roman', Times, serif ;
    font-style:oblique;
    font-size: larger;
    background-color: #222;
    color: white;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
header img{
   width: 148px; 
    height:auto;
    border-radius:  50px;
    object-fit: cover;
    border: 3px solid white;
    flex-shrink: 0;
}
@media(max-width:600px) {
    header{
        flex-direction: column;
        text-align: center;
    }
    header img{
        width: 120px;
        margin-top: 15px;
    }
}
nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;          
    gap: 25px;   
    background-color: #333;
    padding: 15px 40px;
    justify-content: center;
}


.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 25px;
}


.nav-links.active {
    display: flex;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding:6px 10px;
    border-radius: 6px;
    transition: 0.3s;
}

nav a:hover{
    background-color: #555;
    text-decoration: underline;
}
section{
    margin:auto;
    padding: 1%;
      background: white;
  
}


h1{
    margin: 0  ;
}

h2{
    margin-top: 0;
}
.header-left{
    margin-left: 10px;
}
.Bullet::before{
    content: "• ";
    font-weight: bold;
}


@media (max-width: 600px) {
    .menu-toggle {
        display: block;
    }
    .nav-links {
        display: none;          
        flex-direction: column;
        width: 100%;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links a {
        padding: 8px 12px;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
}
.skills-container{
    display:flex;
    flex-wrap: wrap;   
    gap: 15px;
}
.skill{
   
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 12px;
   width: auto;
    border: 1px solid #ccc;
}
/*.edu-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}*/
.education{
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 12px;
    width: auto;
    border: 1px solid #ccc;
}
p.edu{
    padding-left: 10px;
    margin: 3px 0;
     
}
.email::before{
    content: "\2709"
}
/*.phone_no::before{
    content: "☎ "
}*/
.linkedin::before{
     content: "\1F310"
}