body{
    margin: 0;
    font-family:'Times New Roman', Times, serif ;
    background-color: grey;
    scroll-behavior: smooth;
}
header{
    background-color: #222;
    color: white;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width:120px;
    height: 130px;
    border-radius:  50px;
    object-fit: cover;
    border: 3px solid white;
}
nav{
    display: flex;
    gap: 25px;   
    background-color: #333;
    padding: 15px 40px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding:6px 10px;
    border-radius: 6px;
    transition: 0.3s;
}

nav a:hover{
    background-color: #555;
    text-decoration: underline;
}
section{
    margin:auto;
    padding: 30px;
    max-width: 900px;
      
      background: white;
      border-radius: 10px;
}


h1{
    margin: 0  ;
}

h2{
    margin-top: 0;
}
.header-left{
    margin-left: 10px;
}
